.section-gallery {

  .collum-gallery {

    img {
      transition: 0.5s;
    }

    &:hover {

      img {
        transform: scale(0.8);
        cursor: pointer;
        transition: 0.5s;
      }
    }

  }
}

.section-viewer {
  z-index: 9999;
  top: 5%;
  left: 5%;
  right: 5%;
  position: fixed;
  display: block;
  background: rgba(1, 1, 1, 0.8);
  overflow: hidden;
  width: 90%;
  height: 90%;

  .img-full-size {
    position: absolute;
    display: flex;
    //align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;

    img {
      height: 100%;
      width: auto;
    }
  }
}