@import 'compass';
@import 'header';

.intro-header {
  padding-top: -10px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(/assets/img/frente3Edit.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  position: relative;
  margin: 0;

  @import 'strip';

  .scroll-arrow, .scroll-arrow i, .scroll-arrow:hover, .scroll-arrow:hover i {
    transition: 0.3s ease-out;
  }

  .scroll-arrow {
    margin-top: 25%;
    font-size: 35px;
    background-color: $verdeMenu;
    border-radius: 500px;
    width: 80px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    //transform: translate(-50%, -50%);

    i {
      margin: 7px;
      color: white;
    }

    &:hover {
      width: 81px;
      height: 80px;

      i {
        margin-top: 20px;
      }
    }

  }
}
